lab1/a.out
lab1/temp/*
lab1/sim.o
*.ipch
*.tlog
*.pdb
*.idb
*.log
/.vs/archlab/v15
/x64/Release
/x64/Debug
/archlab.vcxproj.user
/.vs
/lab1/answers/~WRL2348.tmp
/lab1/answers/~$signment1.docx
/lab1/zip
